{% extends 'base.html' %}

{% block header %}
    {% block title %} Iniciar Sesion {% endblock %}
{% endblock %}

{% block content %}
    <form method="post">

        <label for="username">Nombre de usuario</label>
        <input type="text" name="username" id="username" placeholder="username" required>


        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" placeholder="password" required>

        <input type="submit" value="Iniciar Sesion">
    
    </form>
{% endblock %}