{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row ">
                    <div class="col-sm-4">
                        <div class="card card-event">

                            <div class="card-block">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col">
                                        <h5 class="m-0">{{ query.clientes.username}} {{ query.clientes.lastname }}</h5>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fab fa-angellist text-c-purple f-40 "></i>
                                        <label class="label f-14 f-w-400 float-right">{{ query.clientes.status
                                            }}</label>
                                    </div>
                                </div>
                                <h6 class="text-muted mt-4 mb-0">Se registro el {{ query.clientes.created }} </h6>
                                <h2 class="mt-3 f-w-100">{{query.clientes.vehiculos|length}}<sub
                                        class="text-muted f-14">Vehiculo Registrados</sub></h2>


                            </div>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModal" data-whatever="@mdo">Agregar nuevo Servicio</button>

                        </div>
                    </div>
                    <div class="col-md-8">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Coche: {{ query.marcas }} {{ query.modelos }}</li>
                            <li class="list-group-item">Año: {{query.age}}</li>
                            <li class="list-group-item">Placa: {{query.placa}}</li>
                            <li class="list-group-item">Color: {{query.color}}</li>
                            <li class="list-group-item">Fecha: {{query.created}}</li>
                        </ul>

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Nuevo Servisio</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="" method="post">
                                            <div class="form-group">
                                                <label>Nombre del Servicio</label>
                                                <select name="name" id="" class="form-control">
                                                    <option value="">Lista de srvicio</option>
                                                    {% for list in listas %}
                                                    <option value={{list.id}}>{{list.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <button type="submit" class="btn btn-primary">Agregar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[ Recent Users ] start-->
                    <div class="col-xl-8 col-md-6">
                        <div class="card Recent-Users">
                            <div class="card-header">
                                <h5>Lista de Servicios asignado a el vehiculo {{query.marcas}} {{query.modelos}}</h5>
                            </div>
                            <div class="card-block px-0 py-3">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                            {% for servicio in query.servicios %}
                                            <tr class="unread">

                                                <td>
                                                    <h6 class="mb-1">{{servicio.listas}}</h6>
                                                </td>
                                                <td>
                                                    <h6 class="text-muted"><i
                                                            class="fas fa-circle text-c-green f-10 m-r-15"></i>{{servicio.created}}
                                                    </h6>
                                                </td>
                                                <td>
                                                    {% if servicio.listas.id == 5 %}
                                                        <a href="{{ url_for('servicio.main',vehiculo_id=query.id, servicio_id=servicio.id) }}"
                                                            class="label theme-bg2 text-white f-14">
                                                            Complerar Servicio
                                                        </a>
                                                        {% else %}
                                                        <a href="#!" class="label theme-bg text-white f-12">
                                                            Approve
                                                        </a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[ Recent Users ] end-->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}