{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Form Elements</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Form Componants</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Form Elements</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Basic Componant</h5>
                            </div>
                            <div class="card-body">
                                <h5>Registro de Coches</h5>
                                <hr>

                                <div class="row">

                                    <div class="col-md-4">
                                        <span class="mb-0 text-muted">
                                            {% if msg %}
                                            <span class="text-danger">{{ msg | safe }}</span>

                                            {% endif %}
                                        </span>
                                        <form role="form" method="post" action="/coche/marca">
                                            {{ form.hidden_tag() }}

                                            <div class="form-group">
                                                <label for="Modelo">Marca</label>
                                                {{ form.name(placeholder="Marca", class="form-control", value='') }}
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>

                                    <div class="col-md-6">
                                        <span class="mb-0 text-muted">
                                            {% if msg %}
                                            <span class="text-danger">{{ msg | safe }}</span>

                                            {% endif %}
                                        </span>
                                        <form role="form" method="post" action="/coche/modelo">
                                            <div class="form-group">
                                                <label for="Modelo">Seleciona una Marca</label>
                                                <select class="form-control" id="modelo_create" name="marca">
                                                    <option value="">Seleciona una marca</option>
                                                    {% for marca in marcas %}
                                                    <option value={{marca.id}}>{{marca.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>modelo</label>
                                                <input type="text" class="form-control" name="name"
                                                    placeholder="Ingresa el modelo de la marca">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <h5 class="mb-3">Lista de Coches </h5>
                        <hr>


                        <div class="accordion">
                            <div class="card">
                                {% for marca in marcas %}
                                <div class="card-header">
                                    <h5 class="mb-0">{{marca.name}}</h5>
                                </div>
                                <div class="card-body collapse show">
                                    <ul>
                                        {% for modelo in marca.modelos %}
                                        <li class="mb-0">
                                            <h4>{{modelo.name}}</h4>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endfor %}

                            </div>
                        </div>

                    </div>

                    <!-- [ collapse ] end -->
                </div>
                <!-- [ Main Content ] end -->

            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}